* {
    margin: 0;
    padding: 0;
}

ul { list-style: none; }

.container {
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
}

.header {
    height: 50px;
    background-color: #99dddd;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
.header .back-container a {
    text-decoration: none;
    color: white;
}
.header .back-container {
    position: absolute;
    left: 0;
    margin-left: 20px;
}
.header .back-container a:active { color: gray; }
.header .title-container p {
    color: white;
    font-size: 20px;
}

.main .nav-container ul {
    height:  35px;
    display: flex;
    color: #666666;
}
.main .nav-container li {
    margin-top: 6px;
    height: 27px;
    flex-grow: 1;
    text-align: center;
}
.main .nav-container .sp { border-bottom: 2px solid #57e7e7; }
.main .nav-container ul li:hover { border-bottom: 2px solid #57e7e7; }


.main .banner-container img { width: 100%; }


.main .label-container {
    margin-top: 15px;
    display: flex;
}
.main .label-container .label {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .label-container .label img { width: 45px; }
.main .label-container .label p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main .line { border-bottom: 1px solid rgba(128, 128, 128, 0.301); }
.main .type-one { margin-right: 2.5%; }
.main .type-two { width: 100%; }
.main .sp-line { 
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.main .columns-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 2.5%;
}

.main .columns-container .column {
    border-right: rgba(128, 128, 128, 0.301) 1px solid;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


.main .columns-container .column-three { border-right: none; }

.main .columns-container .column img { width: 100px; }

.main .columns-container .column .column-title {
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
}

.main .part { 
    padding-left: 2.5%;
    margin-top: 20px; 
}

.main .part .title {
    height: 30px;
    color: #666666;
    line-height: 30px;
}

.main .part .content {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
}
.main .part .pic-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .part .pic-container img { 
    width: 100px; 
    height: 82px;
}
.main .part .text-container {
    height: 170px;
    max-width: 358px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 0 auto;
}
.main .part .text-container div {
    text-align: center;
    line-height: 32px;
    width: 120px;
    height: 32px;
    background-color: #eeeeee;
}

.main .three-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.main .three-container .content {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
}

.main .three-container .content .pic-container img {
    width: 110px;
    height: 90px;
    margin-right: 10px;
}
.main .three-container .content .text-container {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .three-container .content .title {
    font-size: 22px;
    color: #666666;
}
.main .three-container .content .detail {
    font-size: 12px;
    color: #cccccc;
    margin-bottom: 10px;
}

.main .three-container .three {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main .three-container .three .title { 
    align-self: start; 
    margin-bottom: 10px;
}
.main .three-container .three .pic-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main .three-container .three .pic-container img { margin: 0; }

.main .three-container .three .detail { 
    align-self: start; 
    margin-top: 10px;
}




