/* 通用样式 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    border: #999 1px solid;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: content-box;
    padding: 10px;
}
.container .row { overflow: hidden; }

.container .row .div-container {
    height: 70px;
    position: relative;
    float: left;
    padding: 0 10px;
}

.container .row .div-container div {
    height: 50px;
    border: #999 1px solid;
    background-color: #eee;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 10px 10px;
}


/* 先写小屏幕下的样式 */
.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-5 { width: 41.66666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333333%; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-11 { width: 81.66666667%; }
.col-12 { width: 100%; }

/* 中屏下的样式 */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
    .col-md-1 { width: 8.33333333%; }
    .col-md-2 { width: 16.66666667%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33333333%; }
    .col-md-5 { width: 41.66666667%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33333333%; }
    .col-md-8 { width: 66.66666667%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-12 { width: 100%; }
}